@page
@model NewSound.Pages.ConcertHalls.IndexModel

@{
    ViewData["Title"] = "Concert Halls";
}

<h1>Concert Halls</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PlaceSort">
                    @Html.DisplayNameFor(model => model.ConcertHalls[0].Place)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertHalls[0].Address)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CitySort">
                    @Html.DisplayNameFor(model => model.ConcertHalls[0].City)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertHalls[0].MaxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertHalls[0].Bar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConcertHalls) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bar.Drink)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ConcertHallID">Edit</a>
                }

                | <a asp-page="./Details" asp-route-id="@item.ConcertHallID">Details</a> |
                
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="./Delete" asp-route-id="@item.ConcertHallID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
